<h1>Authors</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<a href="/bookUser">Manage User Books</a>

<table>
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Birthdate</th>
		<th>Country</th>
		<th>Gender</th>
	</tr>

	{{#each authors}}
	<tr>
		<td><a href="/listBooks?author={{this.id}}">{{this.lastName}}</a></td>
		<td>{{this.firstName}}</td>
		<td>{{this.dob}}</td>
		<td>{{this.country}}</td>
		<td>{{this.gender}}</td>
		<td><a href="/editAuthor?id={{this.id}}">Edit</a></td>
		<td><a href="/removeAuthor?id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>