<h1>Authors</h1>

<table>
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Birthdate</th>
		<th>Country</th>
		<th>Gender</th>
	</tr>

	{{#each authors}}
	<tr>
		<td><a href="/listBooks?author_id={{this.id}}">{{this.lastName}}</a></td>
		<td>{{this.firstName}}</td>
		<td>{{this.dob}}</td>
		<td>{{this.country}}</td>
		<td>{{this.gender}}</td>
		<td><a href="/editAuthor?author_id={{this.id}}">Edit</a></td>
		<td><a href="/deleteAuthor?author_id={{this.id}}" onclick="return confirmDeletion('author')">Delete</a></td>
	</tr>
	{{/each}}
</table>

<script src="confirmDelete.js"></script>