<h1>Authors</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/addBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<table>
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Birthdate</th>
		<th>Country</th>
	</tr>

	{{#each authors}}
	<tr>
		<td><a href="/editAuthor?id={{this.id}}">{{this.lastName}}</a></td>
		<td>{{this.firstName}}</td>
		<td>{{this.dob}}</td>
		<td>{{this.country}}</td>
		<td><a href="/removeAuthor?id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>