<h1>Book User Management Page</h1>

<form id="book_user_form" action="/bookUser" method="post">
	<fieldset>
		User: 	<select name="user_id">
					{{#each users}}
					<option value="{{this.id}}">{{this.user_name}} ({{this.user_email}})</option>
					{{/each}}
				</select>
		Book: 	<select name="book_id">
					{{#each books}}
					<option value="{{this.id}}">{{this.title}} ({{this.lastName}})</option>
					{{/each}}
				</select>
		Format: <select name="format_id">
					{{#each formats}}
					<option value="{{this.id}}">{{this.format}}</option>
					{{/each}}
				</select>
		Rating: <select name="rating">
					<option value=""></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
		Date Read: <input type="date" name="date_read">

		<input type="submit" value="Submit">
	</fieldset>
</form>