<h1>Books</h1>

<form id="search_form" action="/listBooks" method="get">
	<fieldset>
		<legend>Enter a search parameters</legend>
		Author: <input type="text" name="author"><br>
		Title: <input type="text" name="title"><br>
		Subject: <input type="text" name="subject"><br>
		<input type="submit" value="Submit">
	</fieldset>
</form>

<table id="book_table">
	<tr>
		<th onclick="sortTable(0, 'book_table')">Title</th>
		<th onclick="sortTable(1, 'book_table')">Author</th>
		<th onclick="sortTable(2, 'book_table')">Language</th>
		<th onclick="sortTable(3, 'book_table')">Country</th>
		<th onclick="sortTable(4, 'book_table')">Year</th>
		<th onclick="sortTable(5, 'book_table')">Gender</th>
		<th>Category</th>
		<th></th>
	</tr>

	{{#each books}}
	<tr>
		<td><a href="/bookDetails?book_id={{this.book_id}}">{{this.title}}</a>
		<td><a href="/listBooks?author_id={{this.auth_id}}">{{this.lastName}}, {{this.firstName}}</a></td>
		<td><a href="/listBooks?language_id={{this.lang_id}}">{{this.language}}</a></td>
		<td><a href="/listBooks?country_id={{this.country_id}}">{{this.country}}</a></td>
		<td>{{this.year}}</td>
		<td><a href="/listBooks?gender={{this.gender}}">{{this.gender}}</a></td>
		<td><a href="/listBooks?category_id={{this.category_id}}">{{this.subCategoryName}}</a></td>
		<td><a href="/editBook?book_id={{this.book_id}}">Edit</a></td>
		<td><a href="/deleteBook?book_id={{this.book_id}}" onclick="return confirmDeletion('book')">Delete</a></td>
	</tr>
	{{/each}}
</table>

<script src="confirmDelete.js"></script>
<script src="sortTable.js"></script>