<h1>Books</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Language</th>
		<th>Country</th>
		<th>Year</th>
		<th>Gender</th>
		<th></th>
	</tr>

	{{#each books}}
	<tr>
		<td><a href="/editBook?id={{this.book_id}}">{{this.title}}</a></td>
		<td><a href="/listBooks?author={{this.auth_id}}">{{this.lastName}}, {{this.firstName}}</a></td>
		<td><a href="/listBooks?language={{this.lang_id}}">{{this.language}}</a></td>
		<td><a href="/listBooks?country={{this.country_id}}">{{this.country}}</a></td>
		<td>{{this.year}}</td>
		<td><a href="/listBooks?gender={{this.gender}}">{{this.gender}}</a></td>
		<td><a href="/removeBook?id={{this.book_id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>