<h1>Add Author</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>

<form id="user_form" action="{{route}}" method="post">

	<fieldset id="form_field">

		<legend id="form_legend">Enter User Information</legend>
		
		User Name:		<input type="text" name="user_name" id="user_name" value="{{user_info.user_name}}"><br>
		User Email:		{{#if editing}}
						<input type="text" name="user_email" id="user_email" value="{{user_info.user_email}}" readonly><br>
						{{else}}
						<input type="text" name="user_email" id="user_email" value="{{user_info.user_email}}"><br>
						{{/if}}
		
		<input type="submit" id="new_user" value="Submit">
	
	</fieldset>

</form>

<!-- <script src="selectionSetUser.js"></script> -->