<h1>Add Book</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<form id="book_form" action="{{route}}" method="post">

	<fieldset id="form_field">

		<legend id="form_legend">Enter a new book</legend>

		Title:		<input type="text" name="book_title" id="book_title" value="{{book_info.title}}"><br>
		First Name: <input list="first_names" type="text" name="author_first_name" id="author_first_name" value="{{book_info.firstName}}"><br>
						<datalist id="first_names">
						{{#each author_names}}
						<option value="{{this.firstName}}">
						{{/each}}
						</datalist>
		Last Name:  <input list="last_names" type="text" name="author_last_name" id="author_last_name" value="{{book_info.lastName}}"><br>
						<datalist id="last_names">
						{{#each author_names}}
						<option value="{{this.lastName}}">
						{{/each}}
						</datalist>
		Language: 	<select name="book_language" id="book_language"><br>
						{{#each languages}}
						<option value="{{this.language_id}}" id="language_{{this.language_id}}">{{this.language}}</option>
						{{/each}}
					</select>
		Year:     	<input type="text" name="book_year" id="book_year" value="{{book_info.year}}"><br>
		<input type="hidden" name="book_id" id="book_id" value="{{book_info.book_id}}">

		<input type="submit" id="new_book" value="Submit">

	</fieldset>

</form>
