<h1>Edit a Book in Shelf</h1>

<p>This is for editing the rating and date read of a book on your shelf</p>

<form id="edit_shelf_book" action="/editUserBook" method="post">
	<fieldset>
		<legend>Update book info</legend>
		User: {{book_info.user_name}}<br>
		Title: {{book_info.title}}<br>
		Author: {{book_info.lastName}}, {{book_info.firstName}}<br>
		Language: {{book_info.language}}<br>
		Country: {{book_info.country}}<br>
		Year: {{book_info.year}}<br>
		Date Added: {{book_info.date_added}}<br>
		<!-- Format: {{book_info.format}}<br> -->
		Format: <select name="format_id">
					{{#each formats}}
					<option value="{{this.id}}" id="format_{{this.id}}">{{this.format}}</option>
					{{/each}}
				</select>
		Rating: <select name="rating">
					<option value=""></option>
					<option value="1" id="rating_1">1</option>
					<option value="2" id="rating_2">2</option>
					<option value="3" id="rating_3">3</option>
					<option value="4" id="rating_4">4</option>
					<option value="5" id="rating_5">5</option>
				</select><br>
		Date Read: <input type="date" name="date_read" value="{{book_info.date_read}}"><br>
		<input type="hidden" name="book_id" value="{{book_info.book_id}}">
		<input type="hidden" name="user_id" value="{{book_info.user_id}}">
		<input type="hidden" name="given_format_id" id="given_format_id" value="{{book_info.format_id}}">
		<input type="hidden" id="given_rating" value="{{book_info.rating}}">
		<input type="submit" value="Submit">
	</fieldset>
</form>

<script src="selectionSetUserBook.js"></script>