<h1>Formats</h1>

<form id="format_form" action="/editFormat" method="post" onsubmit="return validateFormatForm()">
	<fieldset>
		<legend>Enter a format</legend>
		Format: <input type="text" name="format_name" value="{{format_info.format}}"><br>
		{{#if format_info}}
		<input type="hidden" name="format_id" value="{{format_info.id}}">
		{{/if}}
		<input type="submit" value="Submit">
	</fieldset>
</form>

<table>
	<tr>
		<th>Format</th>
	</tr>

	{{#each formats}}
	<tr>
		<td>{{this.format}}</td>
		<td><a href="/formats?format_id={{this.id}}">Edit</td>
		<td><a href="/deleteFormat?format_id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>

<script src="validateForm.js"></script>