<h1>Languages</h1>

<form id="language_form" action="/editLanguage" method="post" onsubmit="return validateLanguageForm()">
	<fieldset>
		<legend>Enter a language</legend>
		Language: <input type="text" name="language_name" value="{{language_info.language}}"><br>
		Family: <input type="text" name="language_family" value="{{language_info.language_family}}"><br>
		{{#if language_info}}
		<input type="hidden" name="language_id" value="{{language_info.id}}">
		{{/if}}
		<input type="submit" value="Submit">
	</fieldset>
</form>

<table id='language_table'>
	<tr>
		<th>Language</th>
		<th>Family</th>
	</tr>

	{{#each languages}}
	<tr>
		<td>{{this.language}}</td>
		<td>{{this.language_family}}</td>
		<td><a href="/languages?language_id={{this.id}}">Edit</a></td>
		<td><a href="/deleteLanguage?language_id={{this.id}}" onclick="return confirmDeletion('language')">Delete</a></td>
	</tr>
	{{/each}}
</table>

<script src="validateForm.js"></script>
<script src="confirmDelete.js"></script>
