<h1>Add Author</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<a href="/bookUser">Manage User Books</a>

<h1>Languages</h1>

<div id="language_chart"></div>
<button onclick="drawLanguageChart(true)">Hide English</button>
<button onclick="drawLanguageChart(false)">Show English</button>
<table id="language_stats">
	<tr>
		<th>Language</th>
		<th>Count</th>
	</tr>
	{{#each languages}}
	<tr>
		<td>{{this.language}}</td>
		<td>{{this.blcount}}</td>
	</tr>
	{{/each}}
</table>

<h1>Countries</h1>

<div id="country_chart"></div>
<button onclick="drawCountryChart(true)">Hide USA</button>
<button onclick="drawCountryChart(false)">Show USA</button>

<table>
	<tr>
		<th>Country</th>
		<th>Count</th>
	</tr>
	{{#each countries}}
	<tr>
		<td>{{this.country}}</td>
		<td>{{this.bookCount}}</td>
	</tr>
	{{/each}}
</table>

<h1>Authors</h1>
<table>
	<tr>
		<th>Author</th>
		<th>Count</th>
	</tr>
	{{#each authors}}
	<tr>
		<td>{{this.lastName}}, {{this.firstName}}</td>
		<td>{{this.bookCount}}</td>
	</tr>
	{{/each}}
</table>

<h1>Decades</h1>
<div id="decade_chart"></div>
<table>
	<tr>
		<th>Decade</th>
		<th>Count</th>
	</tr>
	{{#each decades}}
	<tr>
		<td>{{this.decade}}</td>
		<td>{{this.count}}</td>
	</tr>
	{{/each}}
</table>

<script>
var languages = [
	["Language", "Count"],
	{{#each languages}}
	["{{this.language}}", {{this.blcount}}],
	{{/each}}
	];

var countries = [
	["Country", "Count"],
	{{#each countries}}
	["{{this.country}}", {{this.bookCount}}],
	{{/each}}
	];

var decades = [
	["Decade", "Count"],
	{{#each decades}}
	["{{this.decade}}", {{this.count}}],
	{{/each}}
	];

</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="charts.js"></script>
