<h1>Books</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<a href="/bookUser">Manage User Books</a>
<a href="/languages">Languages</a>
<a href="/countries">Countries</a>
<a href="/categories">Categories</a>
<a href="/formats">Formats</a>

<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Language</th>
		<th>Country</th>
		<th>Year</th>
		<th>Gender</th>
		<th>Category</th>
		<th>Added</th>
		<th>Read</th>
		<th>Format</th>
		<th></th>
	</tr>

	{{#each books}}
	<tr>
		<td>{{this.title}}</td>
		<td><a href="/listBooks?author_id={{this.auth_id}}">{{this.lastName}}, {{this.firstName}}</a></td>
		<td><a href="/listBooks?language_id={{this.lang_id}}">{{this.language}}</a></td>
		<td><a href="/listBooks?country_id={{this.country_id}}">{{this.country}}</a></td>
		<td>{{this.year}}</td>
		<td><a href="/listBooks?gender={{this.gender}}">{{this.gender}}</a></td>
		<td><a href="/listBooks?category_id={{this.category_id}}">{{this.category_name}}</a></td>
		<td>{{this.date_added}}</td>
		<td>{{this.date_read}}</td>
		<td>{{this.format}}</td>
		<td><a href="/editBook?book_id={{this.book_id}}">Edit</a></td>
		<td><a href="/deleteBook?book_id={{this.book_id}}">Delete</a></td>
		<td><a href="/removeBook?user_id={{this.user_id}}&book_id={{this.book_id}}">Remove From Shelf</a></td>
	<tr>
	{{/each}}
</table>