<h1>Books</h1>

{{#if user_info}}
<h2>{{user_info.user_name}}</h2>
{{/if}}
{{#if read_book_count}}
<p>Books Read: {{read_book_count.count}}</p>
{{/if}}


<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Language</th>
		<th>Country</th>
		<th>Year</th>
		<th>Gender</th>
		<th>Category</th>
		<th>Rating</th>
		<th>Added</th>
		<th>Read</th>
		<th>Format</th>
		<th></th>
	</tr>

	{{#each books}}
	<tr>
		<td>{{this.title}}</td>
		<td>{{this.lastName}}, {{this.firstName}}</td>
		<td>{{this.language}}</td>
		<td>{{this.country}}</td>
		<td>{{this.year}}</td>
		<td>{{this.gender}}</td>
		<td>{{this.category_name}}</td>
		<td>{{this.rating}}</td>
		<td>{{this.date_added}}</td>
		<td>{{this.date_read}}</td>
		<td>{{this.format}}</td>
		<td><a href="/removeBook?user_id={{this.user_id}}&book_id={{this.book_id}}&format_id={{this.format_id}}" onclick="return confirmDeletion('book from shelf')">Remove From Shelf</a></td>
		<td><a href="/editUserBook?user_id={{this.user_id}}&book_id={{this.book_id}}&format_id={{this.format_id}}">Edit Shelf Info</a></td>
	</tr>
	{{/each}}
</table>

<script src="confirmDelete.js"></script>