<h1>Users</h1>
<table>
	<tr>
		<th>User Name</th>
		<th>User Email</th>
	</tr>

	{{#each users}}
	<tr>
		<td>{{this.user_name}}</td>
		<td>{{this.user_email}}</td>
		<td><a href="/editUser?user_id={{this.id}}">edit</a></td>
		<td><a href="/listUserBooks?user_id={{this.id}}">list books</a></td>
		<td><a href="/deleteUser?user_id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>